:80 {
  encode zstd gzip

  handle_path /rcon* {
    basicauth {
      {$BASIC_AUTH_USER} {$CADDY_BASIC_AUTH_HASH}
    }
    reverse_proxy rcon-web-admin:4326
  }

  handle_path /logs* {
    basicauth {
      {$BASIC_AUTH_USER} {$CADDY_BASIC_AUTH_HASH}
    }
    reverse_proxy dozzle:8080
  }

  handle {
    respond "Palworld stack online. Endpoints: /rcon, /logs" 200
  }
}